[advisories]
version = 2
ignore = []

[licenses]
confidence-threshold = 0.93
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "MIT",
    "MPL-2.0",
    "BSD-3-Clause",
    "ISC",
    "Unicode-3.0",
    "OpenSSL",
    "Zlib",
    "CDLA-Permissive-2.0",
    "MPL-2.0",
]

[bans]
multiple-versions = "warn"
highlight = "all"
skip-tree = []

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-git = []
