[package]
name = "rama-tls-rustls"
description = "tls implementations for rama using rustls"
version = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
keywords = ["io", "async", "tls", "network", "rama"]
categories = ["asynchronous", "network-programming", "cryptography", "web-programming"]
authors = { workspace = true }
rust-version = { workspace = true }

[package.metadata.cargo-public-api-crates]
allowed = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = []
http = ["dep:rama-http-types"]

[dependencies]
pin-project-lite = { workspace = true }
rama-core = { workspace = true }
rama-http-types = { workspace = true, optional = true }
rama-net = { workspace = true, features = ["tls", "http"] }
rama-utils = { workspace = true }
rcgen = { workspace = true }
rustls = { workspace = true }
rustls-native-certs = { workspace = true }
rustls-pemfile = { workspace = true }
rustls-pki-types = { workspace = true }
tokio = { workspace = true, features = ["macros", "io-std"] }
tokio-rustls = { workspace = true }
webpki-roots = { workspace = true }

[dev-dependencies]

[lints]
workspace = true
