<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.ramaproxy.example.tproxy.dev.xpc</string>
  <key>AssociatedBundleIdentifiers</key>
  <array>
    <string>__ASSOCIATED_BUNDLE_IDENTIFIER__</string>
  </array>
  <key>MachServices</key>
  <dict>
    <key>org.ramaproxy.example.tproxy.dev.xpc</key>
    <true/>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>__PROGRAM__</string>
  </array>
  <key>UserName</key>
  <string>__USER_NAME__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
