app = 'rama-fp-h1'
primary_region = 'fra'

[processes]
app_secure = "serve fp --bind 0.0.0.0:8443 -c 2048 -t 16 -f haproxy --http-version h1 -s"
app_insecure = "serve fp --bind 0.0.0.0:8080 -c 2048 -t 16 -f haproxy --http-version h1"

[build]
image = "glendc/rama:latest"

[env]
  RUST_LOG = 'debug'

[[services]]
protocol = 'tcp'
internal_port = 8080
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1
processes = ['app_insecure']

[[services.ports]]
handlers = ["proxy_proto"]
port = 80

[[services]]
internal_port = 8443
protocol = "tcp"
force_https = false
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1
processes = ['app_secure']

[[services.ports]]
handlers = ["proxy_proto"]
port = "443"

[[vm]]
memory = '256mb'
cpu_kind = 'shared'
cpus = 1
