[package]
name = "rama-ua"
description = "user-agent (UA) support for rama"
version = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
keywords = ["useragent", "user-agent", "rama"]
categories = ["parser-implementations", "web-programming"]
authors = { workspace = true }
rust-version = { workspace = true }

[lints]
workspace = true

[features]
default = []
tls = ["dep:rama-net", "rama-net/tls"]

[dependencies]
bytes = { workspace = true }
itertools = { workspace = true }
rama-core = { version = "0.2.0-alpha.7", path = "../rama-core" }
rama-http-types = { version = "0.2.0-alpha.7", path = "../rama-http-types" }
rama-net = { version = "0.2.0-alpha.7", path = "../rama-net", optional = true }
rama-utils = { version = "0.2.0-alpha.7", path = "../rama-utils" }
rand = { workspace = true }
serde = { workspace = true, features = ["derive"] }
tracing = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
tokio = { workspace = true, features = ["macros"] }

[package.metadata.cargo-public-api-crates]
allowed = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
