[package]
name = "rama-ua"
description = "user-agent (UA) support for rama"
version = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
keywords = ["useragent", "user-agent", "rama"]
categories = ["parser-implementations", "web-programming"]
authors = { workspace = true }
rust-version = { workspace = true }

[lints]
workspace = true

[dependencies]
rama-core = { version = "0.2.0-alpha.6", path = "../rama-core" }
rama-utils = { version = "0.2.0-alpha.6", path = "../rama-utils" }
serde = { workspace = true, features = ["derive"] }

[dev-dependencies]
serde_json = { workspace = true }
tokio = { workspace = true, features = ["macros"] }

[package.metadata.cargo-public-api-crates]
allowed = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
