[package]
name = "rama-ws"
description = "WebSocket (WS) support for rama"
version = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
keywords = ["io", "async", "websocket", "http", "rama"]
categories = ["asynchronous", "network-programming", "web-programming"]
authors = { workspace = true }
rust-version = { workspace = true }

[package.metadata.cargo-public-api-crates]
allowed = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = []
compression = ["dep:flate2"]

[dependencies]
flate2 = { workspace = true, features = ["zlib"], optional = true }
rama-core = { workspace = true }
rama-http = { workspace = true }
rama-net = { workspace = true }
rama-utils = { workspace = true }
rand = { workspace = true }
tokio = { workspace = true, features = ["time", "macros"] }

[dev-dependencies]
pin-project-lite = { workspace = true }
rama-http-backend = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
tracing-test = { workspace = true }

[lints]
workspace = true
