app = 'rama-fp'
primary_region = 'fra'

[processes]
app_secure = "fp --bind 0.0.0.0:8443 -c 2048 -t 16 -f haproxy --http-version auto -s"
app_insecure = "fp --bind 0.0.0.0:8080 -c 2048 -t 16 -f haproxy --http-version auto"

[build]
image = "glendc/rama:latest"

[[services]]
internal_port = 8080
protocol = "tcp"
force_https = false
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1
processes = ['app_insecure']

[[services.ports]]
handlers = ["proxy_proto"]
port = "80"

[[services]]
internal_port = 8443
protocol = "tcp"
force_https = false
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1
processes = ['app_secure']

[[services.ports]]
handlers = ["proxy_proto"]
port = "443"

[[vm]]
memory = '256mb'
cpu_kind = 'shared'
cpus = 1
