[package]
name = "rama-cli"
description = "binary version of and cli utility for rama, a modular proxy framework"
version = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }
categories = { workspace = true }
authors = { workspace = true }
rust-version = { workspace = true }
default-run = "rama"

[dependencies]
anyhow = "1.0"
clap = { version = "4.4", features = [ "derive" ] }
crossterm = "0.27"
rama = { version = "0.2", path = ".." }
ratatui = "0.25"
tokio = { version = "1.35", features = [ "rt-multi-thread", "macros" ] }

[[bin]]
name = "rama"
path = "src/main.rs"
