[package]
name = "rama-cli"
description = "binary version of and cli utility for rama, a modular proxy framework"
version = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }
categories = { workspace = true }
authors = { workspace = true }
rust-version = { workspace = true }
default-run = "rama"

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true, features = ["derive"] }
crossterm = { workspace = true }
rama = { version = "0.2", path = ".." }
ratatui = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }

[[bin]]
name = "rama"
path = "src/main.rs"
