name: Browserstack Fingerprinting

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "00 18 * * *"
jobs:
  run:
    timeout-minutes: 180
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          cd rama-fp/browserstack
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run your tests
        run: |
          cd rama-fp/browserstack
          python main.py
        env:
          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
          RAMA_FP_STORAGE_COOKIE: ${{ secrets.RAMA_FP_STORAGE_COOKIE }}
