name: Deploy rama proxy

on:
  workflow_dispatch: {}
  push:
    branches: ["main"]
    paths: ["src/**", "Cargo.toml"]

jobs:
  deploy:
    name: Deploy rama proxy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
